@use '../abstract' as *;

body {
  // width: $nftmobile;
  min-width: 37.5rem;
  background: $nftdarkbluebody;
}

.container {
  // min-width: 37.5rem;
  background-color: $nftdarkbluemain;
  max-width: 60rem;
  margin: 4rem auto;
  overflow: hidden;
}

.card {
  max-width: 35rem;
  background: $nftdarkbluecard;
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  border-radius: 1.5rem;
  padding: 2.5rem;

  & img {
    border-radius: 2rem;

    :hover {
      cursor: pointer;
      background-color: $nftcyan;
    }
  }
}

.wrapper {
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5 ease-in-out;
  background-color: $nftcyanhover;
  border-radius: 2rem;
  z-index: 1;

  & img {
    position: absolute;
    color: white;
    top: 42%;
    left: 42%;
    z-index: 999;
  }
}

.wrapper:hover .overlay {
  opacity: 1;
}

section {
  margin-top: 2rem;
}

.head h1 {
  font-size: 2rem;
  color: white;
  padding-bottom: 1.5rem;

  &:hover {
    color: $nftcyan;
    cursor: pointer;
  }
}

p {
  font-size: 1.8rem;
  color: $nftsoftblue;
}

hr {
  width: 100%;
  border-top: 1px solid $nftdarkblueline;
  margin-top: 2rem;
}
.details {
  display: flex;
  justify-content: space-between;
}

.coin,
.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ethereum {
  color: $nftcyan;
  margin-left: 5px;
  font-size: 1.8rem;
}

.days {
  color: $nftsoftblue;
  margin-left: 5px;
  font-size: 1.8rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;

  & img {
    width: 3rem;
    border: 1px solid white;
    border-radius: 50%;
  }
}

.creator {
  color: white;

  &:hover {
    color: $nftcyan;
    cursor: pointer;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
