@use '../abstract' as *;

body {
  // width: $nftmobile;
  // min-width: 37.5rem;
  // width: 100%;
  background: $nftdarkbluebody;
  overflow: hidden;
}

.container {
  background-color: $nftdarkbluemain;
  max-width: 60rem;
  margin: 4rem auto;
  min-height: 100vh;
  display: grid;
  place-content: center;
  padding: 2rem;
  overflow: hidden;
}

.card {
  // width: 100%;
  background: $nftdarkbluecard;
  // display: flex;
  // flex-direction: column;
  // margin: 5rem auto;
  margin-bottom: 2rem;
  border-radius: 1.5rem;
  padding: 5rem;

  & img {
    border-radius: 1.5rem;

    :hover {
      cursor: pointer;
      background-color: $nftcyan;
    }
  }
}

.wrapper {
  position: relative;
  border-radius: 2rem;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background-color: $nftcyanhover;
  border-radius: 2rem;

  & img {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
  }
}

.wrapper:hover .overlay {
  opacity: 1;
}

.title {
  font-size: 2rem;
  margin: 1.5rem 0;

  & a {
    text-decoration: none;
    color: white;

    &:hover {
      color: $nftcyan;
      cursor: pointer;
    }
  }
}

.description {
  margin: 1.5rem 0;
}

p {
  font-size: 1.8rem;
  color: $nftsoftblue;
}

hr {
  width: 100%;
  border-top: 1px solid $nftdarkblueline;
  margin-top: 2rem;
}
.details {
  display: flex;
  justify-content: space-between;
}

.coin,
.time {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ethereum {
  color: $nftcyan;
  margin-left: 5px;
  font-size: 1.8rem;
}

.days {
  color: $nftsoftblue;
  margin-left: 5px;
  font-size: 1.8rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 1.5rem 0;

  & img {
    width: 3rem;
    border: 1px solid white;
    border-radius: 50%;
  }

  & a {
    text-decoration: none;
  }
}

.creator {
  color: white;
  text-decoration: none;

  &:hover {
    color: $nftcyan;
    cursor: pointer;
  }
}

footer {
  color: white;
  margin: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
  text-decoration: none;
}
