//
// Some Useful color Vars via http://clrs.cc/
//

// Cool
$aqua: #7fdbff;
$blue: #0074d9;
$navy: #001f3f;
$olive: #3d9970;
$lime: #01ff70;

// Warm
$yellow: #ffdc00;
$orange: #ff851b;
$red: #ff4136;
$fuchsia: #f012be;
$maroon: #85144b;

// Gray Scale
$white: #fff;
$silver: #ddd;
$gray: #aaa;
$black: #111;

//
// Project Variables
// Widths
$nftmobile: 375px;
$nftdesktop: 1440px;

// Primary Colors
$nftsoftblue: hsl(215, 51%, 70%);
$nftcyan: hsl(178, 100%, 50%);
$nftcyanhover: hsla(178, 100%, 50%, 0.5);

//Neutral
$nftdarkbluebody: hsl(216, 55%, 11%);
$nftdarkbluemain: hsl(217, 54%, 11%);
$nftdarkbluecard: hsl(216, 50%, 16%);
$nftdarkblueline: hsl(215, 32%, 27%);
